In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("private/clean_tax_risk_data.csv")
df.head()

,text,company,year,file_name,dummy1,dummy2,dummy3
0,- creasing freight rates. The purchase o...,a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,1,0,0
1,",209 Current - 135 527 662 Non-c...",a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,0,0,0
2,9 Provisions made during the year 493 41...,a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,0,0,0
3,"delivery from banks, export credit organisat...",a.p. moller-maersk,2008,A.P. Moller-Maersk_2008.TXT,1,0,0
4,"December 2008 6,853 447 9,711 17,011 ...",a.p. moller-maersk,2008,A.P. Moller-Maersk_2008.TXT,0,0,0

In [3]:
print(len(df))

26935

In [4]:
len(df.drop_duplicates())

26761

In [5]:
len(df)

26935

In [6]:
df = df.drop_duplicates()
print(len(df))

26761

In [7]:
df.to_csv("private/clean_tax_risk_data.csv", index=False)

In [8]:
df = pd.read_csv("private/clean_tax_risk_data.csv")
df.head()

,text,company,year,file_name,dummy1,dummy2,dummy3
0,- creasing freight rates. The purchase o...,a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,1,0,0
1,",209 Current - 135 527 662 Non-c...",a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,0,0,0
2,9 Provisions made during the year 493 41...,a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,0,0,0
3,"delivery from banks, export credit organisat...",a.p. moller-maersk,2008,A.P. Moller-Maersk_2008.TXT,1,0,0
4,"December 2008 6,853 447 9,711 17,011 ...",a.p. moller-maersk,2008,A.P. Moller-Maersk_2008.TXT,0,0,0

In [9]:
print(len(df))

26761