In [105]:
import pandas as pd
import numpy as np

In [106]:
df = pd.read_csv("private/tax_risk_sorted_and_merged.csv")

In [107]:
df.head()

,text,company,year,file_name,dummy1,dummy2,dummy3
0,- creasing freight rates. The purchase o...,a.p. moller-maersk,2007,A.P. Moller-Maersk_2007.TXT,1,0,0
1,"delivery from banks, export credit organisat...",a.p. moller-maersk,2008,A.P. Moller-Maersk_2008.TXT,1,0,0
2,\x92s envi- ronmental impact and its social r...,a.p. moller-maersk,2009,A.P. Moller-Maersk_2009.TXT,1,1,1
3,global human rights standards associated wi...,a.p. moller-maersk,2011,A.P. Moller-Maersk_2011.TXT,1,1,1
4,Human rights It is a priority for the Group ...,a.p. moller-maersk,2012,A.P. Moller-Maersk_2012.TXT,1,1,1

In [108]:
df = df[['text', 'dummy3']]

In [109]:
df.head()

                                                text  dummy3
0    -  creasing freight rates.    The purchase o...       0
1    delivery from banks, export credit organisat...       0
2   \x92s envi- ronmental impact and its social r...       1
3     global human rights standards associated wi...       1
4    Human rights It is a priority for the Group ...       1

In [117]:
neg_len = len(df[df['dummy3']==0])
pos_len = len(df[df['dummy3']==1])
print("Negatives: ", neg_len)
print("Positives: ", pos_len)

Negatives:  4078
Positives:  597

### Generate artificial positives

In [115]:
positive_texts = list(df[df['dummy3']==1]['text'])

In [118]:
len(positive_texts)

597

In [130]:
positive_sentence_lengths = np.array([len(s.split(" ")) for s in positive_texts])

In [131]:
positive_sentence_lengths.mean()

1098.4087102177555

982.3355653437411

In [ ]:
artificial_positives = []
for i in range(neg_len-pos_len):
    # get random text